@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);

html { 
			background: url(img/1.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

#overlay {
    font-family: 'Advent Pro', sans-serif;
    font-size: 7em;
    margin: .2em .5em;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    bottom: 0;
}