@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400italic,500italic');

html { 
			background: url(img/1.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

#overlay {
    font-family: 'Exo 2', sans-serif;
    font-size: 7em;
    margin: .2em .5em;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    bottom: 0;
    font-weight: 200;
    text-shadow: 0 0 12px #fcfcfc;
}